name: Build .deb package for dcmtk

on: 
  push:
  schedule:
    - cron: 0 0 * * *

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          repository: DCMTK/dcmtk
          ref: master
          fetch-depth: 0
      - id: gitversion
        uses: codacy/git-version@2.4.0
        with:
          prefix: DCMTK-
          release-branch: release
          dev-branch: master
      - id: gitversion_no_prefix
        shell: bash
        run: |
          version=${{ steps.gitversion.outputs.version }}
          version_no_prefix=${version##DCMTK-}
          echo "::set-output name=version::$version_no_prefix"
      - run: |
          sudo apt-get install -y build-essential cmake 
      - run:  |
          mkdir ${{ github.workspace }}/dcmtk-${{ steps.gitversion_no_prefix.outputs.version }}-build
          cd ${{ github.workspace }}/dcmtk-${{ steps.gitversion_no_prefix.outputs.version }}-build
          cmake -DDCMTK_WITH_TIFF=OFF -DDCMTK_WITH_PNG=OFF -DDCMTK_WITH_OPENSSL=OFF -DDCMTK_WITH_XML=OFF -DDCMTK_WITH_ZLIB=OFF -DDCMTK_WITH_ICONV=OFF -DDCMTK_WITH_WRAP=OFF -DDCMTK_LINK_STATIC=ON -DCMAKE_INSTALL_PREFIX=/usr -DDCMTK_DEFAULT_DICT=builtin ${{ github.workspace }}
          make -j"$(($(nproc) + 1))"
          make DESTDIR=${{ github.workspace }}/dcmtk-${{ steps.gitversion_no_prefix.outputs.version }}-install install
      - uses: bpicode/github-action-fpm@v0.9.2
        with:
          fpm_args: '.'
          fpm_opts: >- 
            --input-type dir 
            --output-type deb
            --package dcmtk-bin-${{ steps.gitversion_no_prefix.outputs.version }}-x86_64.deb 
            --name dcmtk-bin 
            --version ${{ steps.gitversion_no_prefix.outputs.version }}
            --architecture x86_64
            --conflicts dcmtk
            --description 'DCMTK is a collection of libraries and applications implementing large parts the DICOM standard.'
            --url 'https://dicom.OFFis.de/dcmtk.php.en'
            --maintainer 'Diep Pham <diep@segmed.ai>'
            --chdir dcmtk-${{ steps.gitversion_no_prefix.outputs.version }}-install
      - uses: actions/github-script@v5
        if: github.ref == 'refs/heads/main'
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/${ context.runNumber }`,
              sha: context.sha
            })            
      - uses: ncipollo/release-action@v1.9.0
        if: github.ref == 'refs/heads/main'      
        with:
          draft: false
          allowUpdates: true
          omitBody: true
          omitName: true
          artifacts: dcmtk-bin-${{ steps.gitversion_no_prefix.outputs.version }}-x86_64.deb,dcmtk-${{ steps.gitversion_no_prefix.outputs.version }}-install/usr/bin/*
          tag: ${{ github.run_number }}
          token: ${{ secrets.GITHUB_TOKEN }}
  